:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header nav {
  margin-left: 93px;
}

.logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo span {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
}

.main-nav .item + .item {
  margin-left: 50px;
}

.main-nav .link {
  position: relative;
  display: inline-block;
  padding: 32px 2px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav .link:hover,
.main-nav .link:focus {
  color: var(--accent-color);
}

.main-nav .link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.main-nav .active {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item:not(:first-child) {
  margin-left: 50px;
}

.contacts-link {
  display: inline-flex;
  align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.icon {
  fill: currentColor;
  margin-right: 10px;
}

/* hero */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../image/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
}

.hero-title {
  color: var(--white-color);
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0px;
  border-radius: 4px;
}

/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) perspective(500px) translateY(-100%)
    rotateX(45deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) perspective(500px) translateY(0%)
    rotateX(0deg);
  transition: transform 500ms ease;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal-item {
  margin-bottom: 10px;
}

.modal-item:last-child {
  margin-bottom: 20px;
}

.modal-label {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input {
  display: block;
  width: 100%;
  margin-top: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-input:focus + .modal-svg {
  fill: var(--accent-color);
}

.modal-field:nth-child(5) {
  margin-bottom: 20px;
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.policy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 12px;
}

.modal-link {
  color: var(--accent-color);
}

.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
}

.policy-checkbox:checked + .policy-icon {
  background-color: var(--accent-color);
  background-image: url(../image/check.svg);
  background-size: contain;
  border-color: var(--accent-color);
  background-origin: border-box;
}

.modal-button {
  display: flex;
  margin: 0 auto;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  padding: 10px 52px;
  cursor: pointer;
  border: none;
}

/* privilege */

.privilege {
  padding-top: 107px;
}

.privilege-list {
  display: flex;
  margin: -15px;
}

.privilege-item {
  max-width: calc((100% - 90px) / 4);
  margin: 15px;
}

.privilege-block {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}

.privilege-info {
  padding-top: 30px;
}

.section-title {
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.privilege-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.privilege-text {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  padding: 0;
  margin: 0;
}

/* examples */

.examples {
  display: flex;
  margin: -15px;
}

.examples-item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin: 15px;
}

.examples-item img {
  display: block;
}

.examples-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.examples-text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* team */

.our-team {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.our-team-list {
  display: flex;
  margin: -15px;
}

.our-team-item {
  width: calc((100% - 90px) / 4);
  margin: 15px;
  background-color: var(--white-color);
  text-align: center;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team img {
  display: block;
}

.our-team-worker {
  padding: 30px 0 16px 0;
}

.our-team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 10px;
}

.our-team-text {
  font-size: 16px;
  line-height: 1.18;
  margin: 0;
}

.social {
  display: flex;
  justify-content: center;
  margin: -5px;
}

.social-item {
  margin: 5px;
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-icon {
  fill: currentColor;
}

/* clients */

.clients-list {
  display: flex;
  justify-content: center;
  margin: -15px;
}

.clients-item {
  width: calc((100% - 150px) / 6);
  margin: 15px;
  text-align: center;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  /* width: 170px;
	height: 92px; */
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

/* footer */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer > .container {
  display: flex;
}

.footer .social-link {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #2196f3;
}

.footer-logo {
  display: inline-block;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join {
  padding-top: 12px;
  margin-left: 95px;
}

.adress li {
  margin-bottom: 9px;
}

.adress li:last-of-type {
  margin-bottom: 0;
}

.adress .link {
  color: var(--white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress .link:hover,
.adress .link:focus {
  color: var(--accent-color);
}

.adress .adress-link {
  color: rgba(255, 255, 255, 0.6);
}

/* страница portfolio */

.portfolio {
  background-color: #ffffff;
  padding: 94px 0;
}

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:last-of-type {
  margin-right: 0;
}

.filter-btn {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  /* margin-right: 30px;
	margin-bottom: 30px; */
  border: 1px #eeeeee solid;
}

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtext {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio img {
  display: block;
}

.portfolio-link {
  display: block;
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 10px;
}

.portfolio-work {
  padding: 20px 24px;
}

.portfolio-list a {
  text-decoration: none;
  color: inherit;
}

.portfolio-list p {
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-text {
  margin: 0;
}

/* footer-form */

.form {
  display: flex;
  margin-left: 93px;
  padding-top: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 358px;
}

.form-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.form-field input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
  color: var(--white-color);
}

.form-field input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-button {
  height: 50px;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 12px;
  margin-top: 36px;
}

.form-icon {
  margin-left: 10px;
  fill: currentColor;
}
