.portfolio-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list__item {
  width: calc((100% - 60px) / 3);
  border: 1px #eeeeee solid;

  //   &:nth-child(3n) {
  //     margin-right: 0;
  //   }
  //   &:nth-child(-n + 3) {
  //     margin-bottom: 0;
  //   }

  &:hover .portfolio-overlay {
    transform: translateY(0);
  }
}
.portfolio-list__link {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    .portfolio-list__overlay {
      transform: translateY(0);
    }
  }
}
.portfolio-list__wrapper {
  position: relative;
  overflow: hidden;
  img {
    display: block;
  }
}
.portfolio-list__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__subtext {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $white-color;
}
.portfolio-list__work {
  padding: 20px 24px;
}
.portfolio-list__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 10px;
}
.portfolio-list__text {
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}
