body {
  color: $primary-text-color;
  background-color: $white-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

h2 {
  color: $title-text-color;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-top: 0;
  margin-bottom: 50px;
}
